@use "mixin" as *;

.about {
    position: relative;
    padding: 50px 3% 600px;
    height: auto;
    background-color: $main-color;

    svg {
        position: absolute;
        width: 100%;
        height: auto;
        top: 100%;
        left: 0;
    }
}

.speech-bubbles {
    li.bubble {
        z-index: 2;
        position: absolute;
        font-family: "M PLUS 1p", sans-serif;
        font-size: 1.1rem;
        background-color: white;
        padding: 80px 40px;
        border-radius: 50%;
        width: clamp(250px, 25vw, 400px);
        box-shadow: 30px 0px 0px 0px rgba(239, 239, 239, 0.62);
    }

    .bubble-1 {
        top: 5%;
        left: 15vw;
    }

    .bubble-2 {
        top: 20%;
        right: 15vw;
    }

    .bubble-3 {
        top: 40%;
        left: 20vw;
    }

    .bubble-4 {
        top: 60%;
        right: 25vw;
    }
}


.illustration-area {
    position: absolute;
    width: 300px;
    right: 10vw;
    top: 80%;
    z-index: 2;

    .central-illustration {
        width: 100%;
        height: auto;
        display: block;
    }
}

.solution-text {
    position: absolute;
    top: 90%;
    left: 15vw;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    z-index: 5;
    white-space: nowrap;
    letter-spacing: 1.7px;


    .service-name {
        font-size: 2.5rem;
        font-weight: 600;
    }

    .solution-icon {
        width: 25px;
        margin-bottom: 25px;
    }
}

.section-intro {
    max-width: 950px;
    margin: 400px auto 160px;
    padding: 40px 20px;
    text-align: center;
    background-color: $sub-color;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);


    h2 {
        font-size: 1.8rem;
        margin-bottom: 80px;
        position: relative;

        &::after {
            position: absolute;
            content: "";
            background-color: $main-color;
            width: 80px;
            height: 5px;
            bottom: -30px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    p {
        font-size: 1.1rem;
        line-height: 1.8;
        font-weight: 600;
    }
}


@include sp {
    .about {
        .speech-bubbles {
            li.bubble {
                font-size: 0.875rem;
                padding: 40px 20px;
                text-align: left;
            }
        }
    }

    .illustration-area {
        width: 200px;
    }

    .solution-text {
        bottom: 15%;
        left: 5%;
        font-size: 1.2rem;


        .service-name {
            font-size: 2rem;
        }

        .solution-icon {
            width: 20px;
        }
    }

    .section-intro {
        margin: 300px auto 160px;

        h2 {
            font-size: 1.5rem;
        }

        p {
            text-align: left;
        }
    }
}

@media(max-width: 440px) {
        .section-intro {
                    margin: 200px auto 100px;
        }
}