@use "mixin" as *;

#achievements {
    text-align: center;
    margin-top: $section-margin;

    .book-area {
        position: relative;
        max-width: 800px;
        width: 100%;
        height: 580px;
        margin: 0 auto 60px;

        @include sp {
            height: auto;
        }

        .page-guide{
            font-size: 0.75rem;
            text-align: right;
        }
    }
}

.book-item {
    position: relative;
    max-width: 800px;
    width: 100%;
    height: 580px;
    perspective: 2000px;
    transform-style: preserve-3d;
    margin: 0 auto;

    @include sp {
        height: auto;
    }

    .student-page {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $sub-color;
        border-width: 3px 3px 3px 10px;
        border-style: solid;
        border-color:  $main-color;
        border-radius: 0 16px 16px 0;
        padding: 40px;
        text-align: center;
        transition: transform 0.6s ease-out, box-shadow 0.6s ease;
        transform-origin: left center;
        transform-style: preserve-3d;
        backface-visibility: hidden;
        opacity: 1;
        cursor: pointer;

        @include sp {
            position: relative;
            width: 100%;
            height: 100%;
            transform: none;
            padding: 16px;
            margin-bottom: 24px;
        }

        &:hover {
            transform: rotateY(-12deg) skewY(4deg);
            box-shadow: -6px 0 15px rgba(0, 0, 0, 0.1);

            @include sp{
                transform: none;
                box-shadow: none;
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to right,
                    rgba(0, 0, 0, 0.15),
                    rgba(0, 0, 0, 0));
            opacity: 0;
            transition: opacity 0.6s ease;
            pointer-events: none;
        }

        .heading-strong {
            color: $accent-color;
            font-size: 1.5rem;

            @include sp {
                font-size: 1rem;
            }
        }

        .page-item {
            display: flex;
            justify-content: space-between;
            text-align: center;
            align-items: center;
            box-sizing: border-box;
            gap: 40px;
            margin-top: 20px;

            @include sp {
                flex-direction: column;
                flex-wrap: wrap;
                align-content: space-around;
                gap: 16px;
            }

            .page-item-student,
            .page-item-achievement {
                width: 48%;

                @include sp {
                    width: 100%;
                }
            }

            .page-item-student {

                img {
                    display: block;
                    width: 200px;
                    height: 200px;
                    border-radius: 16px;
                    object-fit: cover;
                    filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.3));
                    margin: 0 auto;

                    @include sp {
                        width: 120px;
                        height: 120px;
                    }
                }

                .student-name {
                    font-weight: bold;
                    margin-top: 8px;
                }

                .student-info {
                    @include sp {
                        font-size: 0.875rem;
                    }
                }

                .student-comment {
                    margin-top: 16px;
                    text-align: left;

                    @include sp {
                        font-size: 0.875rem;
                        margin-top: 8px;
                    }
                }
            }

            .page-item-achievement {
                .achievement-img img {
                    display: block;
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                    border-radius: 16px;
                    filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.3));

                    @include sp {
                        width: 80%;
                        height: 140px;
                        margin: 0 auto;
                    }
                }

                .achievement-link {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    margin-top: 20px;

                    @include sp {
                        margin-top: 8px;
                    }

                    .link-text {
                        display: block;
                        color: $main-color;

                        @include sp {
                            font-size: 0.875rem;
                        }
                    }

                    .link-icon {
                        display: block;
                        width: 20px;
                        height: 20px;

                        @include sp {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
            }
        }
    }
}

.student-page.flip {
    transform: rotateY(-180deg) skewY(10deg);
    opacity: 0.3;

    @include sp{
        transform: none;
        opacity: 1;
    }
}



.link-btn-blue {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 40px;
    border-radius: 16px;
    background: $main-color;
    color: #fff;
    gap: 16px;
    margin: 20px auto 0;

    img {
        width: 40px;
        height: 100%;
        object-fit: contain;
    }
}