@use '_mixin' as *;


* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Noto Sans', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "width" 100;
    color: $font-color;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: $font-color;
}

li {
    list-style: none;
}

img {
    width: 100%;
    vertical-align: bottom;
}

.container {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    padding-inline: 2%;
}



// span
.blue {
    color: $main-color
}

.large {
    font-size: 64px;
    color: $main-color;

    @include sp {
        font-size: 1.8rem;
    }
}

// section-titleの下線
.section-header {
    text-align: center; // h2を中央に配置
    margin-bottom: 20px;

    // font-size 
    .section-title {
        font-size: 2.5rem;
        position: relative;
        padding-bottom: $clip-depth + 10px;

        @include sp {
            font-size: 1.5rem;
        }

        // 線の描画
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: $svg-height + px;
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 #{$line-width-base} #{$svg-height}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0,1 L325,1 L375,31 L425,1 L750,1' stroke='%234B80AA' stroke-width='2' fill='none'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }

        .blue {
            color: $line-color;
        }

        .large {
            font-size: 4rem;

            @include sp{
                font-size: 1.8rem;
            }
        }
    }
}

.lead {
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center;
    margin: 40px 0 80px;

    @include sp {
        font-size: 1rem;
        margin: 20px;
        text-align: left;
    }
}

.heading {
    font-size: 1.25rem;
    text-align: center;

    @include sp {
        font-size: 1rem;
    }
}

//br
.sp-br {
    display: none;

    @include sp {
        display: block;
    }
}

.pc-br {
    display: block;

    @include sp {
        display: none;
    }
}


// フェードイン
.fadein {
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s;
}

// 無料カウンセリングボタン
.cta-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: $accent-color;
    color: #fff;
    filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.3));
    max-width: 380px;
    height: 65px;
    border-radius: 20px;
    transition: .6s;
    margin: 20px auto 0;
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -75%;
        width: 50%;
        height: 100%;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
        transform: skewX(-25deg);
        pointer-events: none;
    }

    &:hover {
        background-color: darken($accent-color, 5%);

        &::before {
            animation: shine 0.7s;
        }
    }

    &:active {
        top: 4px;
        box-shadow: 0 0 0 rgba(0, 0, 0, 25%);
    }

    @include sp {
        width: 100%;
    }

    img {
        width: 60px;
        height: 12px;

        @include sp {
            display: none;
        }
    }
}

@keyframes shine {
    100% {
        left: 100%;
    }
}
