@use "mixin" as *;

#cta1, #cta2{
    margin-top: $section-margin;
    margin-bottom: 160px;

    .cta_lead{
        font-size: 1.125rem;
        text-align: center;
        margin-bottom: 40px;

        @include sp{
            font-size: 1rem;
        }
    }
}

