@use '_mixin' as *;

.container {
    .swiper {
        width: 100%;
        height: 60vh;

        .circle-wrap {
            width: 320px;
            height: 320px;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding-top: 30px;
            position: relative;
            text-align: center;
            vertical-align: top;
            padding-bottom: 50px;

            img {
                width: 250px;
                height: 250px;
                position: relative;
                border-radius: 50%;
                object-fit: cover;
                transform: translateY(-25px);
            }

            .step-title {
                position: absolute;
                top: 255px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 10;
                color: white;
            }

            .step-sub {
                position: absolute;
                top: 275px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 10;
                color: black;
            }

            .step-title,
            .step-sub {
                font-weight: bolder;
                white-space: nowrap;
            }
        }

        .blue {
            background: $main-color;
        }

        .orange {
            background: $accent-color;
        }

        .step-text {
            width: 320px;
            margin-top: 20px;
            text-align: left;
            line-height: 1.7;
        }
    }

    .price {
        background-color: $main-color ;
        text-align: center;
        color: white;
        
     
    }
}