@use '_mixin' as *;

#curriculum {
    .swiper {
        width: 100%;
        height: 64vh;

        .circle-wrap {
            width: 320px;
            height: 320px;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding-top: 30px;
            position: relative;
            text-align: center;
            vertical-align: top;
            padding-bottom: 50px;

            img {
                width: 250px;
                height: 250px;
                position: relative;
                border-radius: 50%;
                object-fit: cover;
                transform: translateY(-25px);
            }

            .step-title {
                position: absolute;
                top: 255px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 10;
                color: white;
            }

            .step-sub {
                position: absolute;
                top: 275px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 10;
                // color: black;
            }

            .step-title,
            .step-sub {
                font-weight: bolder;
                white-space: nowrap;
            }
        }

        .step-blue {
            background: $main-color;
        }

        .orange {
            background: $accent-color;
        }

        .step-text {
            width: 320px;
            margin-top: 20px;
            text-align: left;
            line-height: 1.7;
        }
    }

    .price {
        background-color: $main-color ;
        text-align: center;
        color: white;

        .price-title {
            padding-top: 30px;
            font-size: 32px;
        }

        .lists {
            display: flex;
            justify-content: space-evenly;
            text-align: left;
        }

        .price-list {
            margin-bottom: 30px;
        }

        .amount {
            padding-bottom: 30px;
            position: relative;

            span {
                font-size: 40px;
                padding-left: 9px;
            }

            &::after {
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 20px;
                width: 400px;
                height: 4px;
                background-color: $accent-color;
                border-radius: 2px;
            }
        }
    }

    @include sp {
        display: none;
    }
}


// ５stepレスポンシブ時
#sp-curriculum {
    display: none;

    @include sp {
        display: block;
        overflow-x: hidden;
        width: 100%;
        box-sizing: border-box;
    }

    .sp-step {
        margin-bottom: 50px;
        width: 100%;
        margin: 0 auto;

        .sp-step-img {
            margin: 0 auto;
            width: 300px;
            height: 300px;
            border-radius: 50%;
            opacity: 0;
            position: relative;
            transition: transform 1.8s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.8s ease-out;

            img {
                width: 250px;
                height: 250px;
                border-radius: 50%;
                object-fit: cover;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &.orange {
                background-color: #E97C27;
                transform: translateX(150vw) rotate(900deg);
                // 右から転がってく
            }

            &.step-blue {
                background-color: #4B80AA;
                transform: translateX(-150vw) rotate(-900deg); // 左から転がってくる
            }

            &.roll-in {
                opacity: 1;
                transform: translateX(0) rotate(0deg); // 中央に停止
            }
        }

        .sp-step-text {
            width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: center;

            .step-title {
                font-size: 1.5rem;
                color: $main-color;
            }

            .step-sub {
                font-size: 0.9rem;
                margin-bottom: 10px;
            }

            .step-title,
            .step-sub {
                font-weight: bolder;
            }

            .step-text{
                text-align: left;
            }
        }
    }
}



.price {
    background-color: $main-color ;
    text-align: center;
    color: white;
    position: relative;
    margin-top: 20px;

    &::before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -10;
        border: 35px solid transparent;
        border-left-width: 60px;
        border-right-width: 60px;
        border-top-color: white;
    }

    .title {
        padding-top: 80px;

        @include sp {
            padding-top: 50px;
        }

        .price-title {
            font-size: 32px;
        }
    }


    .lists {
        display: flex;
        justify-content: space-evenly;
        text-align: left;

        @include sp {
            flex-direction: column;
            text-align: center;
            padding-top: 10px;
        }
    }

    .amount {
        padding-bottom: 30px;
        position: relative;

        span {
            font-size: 40px;
            padding-left: 9px;
        }

        &::after {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 20px;
            max-width: 400px;
            height: 4px;
            background-color: $accent-color;
            border-radius: 2px;
        }
    }
}