@use '_mixin' as *;

footer {
    max-width: 1120px;
    .footer-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sns-links {

        a{
            padding: 20px;
            margin-left: 20px;
        }

        p {
            color: white;
            text-align: center;
            display: inline-block;
            line-height: 80px;
        }

        .instagram {
            background-color: $main-color;

            .fa-instagram {
                padding-left: 5px;
                align-items: center;
                color:white;
            }
        }

        .line {
            background-color: $accent-color;
            color: white;
        }

        .instagram,
        .line {
            width: 200px;
            height: 80px;
            border-radius: 10px;
        }

        .line {
            @include sp {
                display: none;
            }
        }
    }

    
    small {
        display: block;
        text-align: center;
        padding-block: 20px;

        @include sp{
          margin-bottom: 70px;
        }
    }

    .line-sp {
        display: none;

        @include sp {
            // display: block;
              display: flex !important;
            background-color: #79C2B6;
            border-radius: 20px;
            max-width: 600px;
            width: 100%;
            height: 65px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 9999;

            .cta-btn-footer {
                display: flex;
                align-items: center;
                gap: 8px;

                p {
                    color: white;
                    font-weight: bold;
                }

                img {
                    width: 60px;
                    height: 12px;
                }
            }
        }
    }

}