@use "mixin" as *;

#metaleaf {
    text-align: center;
    margin-top: $section-margin;

    @include sp {
        margin-top: $section-margin-sp;
    }

    .metaleaf_area {
        position: relative;
        width: 100%;
        height: 600px;
        overflow: hidden;

        @include sp{
            height: 100vh;
        }

        .bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.5;
            z-index: 1;
        }

        .feature {
            position: absolute;
            width: 120px;
            height: 120px;
            border: 5px solid $accent-color;
            border-radius: 50%;
            background-color: #fff;
            text-align: center;
            z-index: 2;
            cursor: pointer;
            transition: .6s;

            &:hover{
                transform: scale(1.2);
            }

            @include sp{
                width: 100px;
                height: 100px;
                border: 2px solid $accent-color;
            }

            .icon{
                width: 56px;
                height: 56px;
                margin: 16px auto 0;

                @include sp{
                    margin: 8px auto 0;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            
            p{
                font-size: 0.625rem;
                text-align: center;
            }
        }

        .f1 {
            top: 40%;
            left: 48%;

            @include sp{
                left: 35%;
            }
        }

        .f2 {
            bottom: 30%;
            right: 20%;

            @include sp{
                right: 5%;
            }
        }

        .f3 {
            top: 25%;
            left: 25%;

            @include sp{
                left: 10%;
            }
        }

        .f4 {
            top: 12%;
            right: 25%;

            @include sp{
                right: 10%;
            }
        }

        .f5 {
            bottom: 15%;
            left: 15%;

            @include sp{
                left: 5%;
            }
        }
    }
}




/* モーダル */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    transition: .6s;
    z-index: 99;
}

.modal.open {
    display: flex;
}

.modal-content {
    position: relative;
    background: #fff;
    padding: 20px;
    width: 480px;
    border-radius: 10px;

    @include sp{
        width: 320px;
    }

    .close{
        position: absolute;
        top: 4px;
        right: 20px;
        font-size: 2rem;
        line-height: 1;
        cursor: pointer;
        transition: .6s;

        &:hover{
            transform: scale(1.2);
        }
    }

    .modal_img{
        width: 100%;
        height: 50%;
        border-radius: 10px;
        object-fit: contain;
        margin-top: 16px;
    }

    .modal_text{
        margin: 8px 0;

        .modal_title{
            font-size: 1.125rem;
            font-weight: bold;
            text-align: center;
            margin-bottom: 8px;
        }
    }
}