
$sp: 768px;

@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}


$main-color: #4B80AA; //メインカラー
$sub-color: #E3ECF8; //サブカラー
$accent-color: #E97C27; //アクセントカラー
$font-color: #3c3c3c; //フォントカラー



$section-margin: 100px; //PCセクション間の余白
$section-margin-sp: 50px; //SPセクション間の余白

// section-titleの下線
$line-color: #4B80AA;
$line-thickness: 2px;
$clip-depth: 30px;
$line-width-base: 750;

$svg-line-y: 1;
$svg-notch-x-left: 325;
$svg-notch-center-x: 375;
$svg-notch-x-right: 425;
$svg-notch-y-bottom: 31;
$svg-height: 32;
