@use '_mixin' as *;

#reason {

    .reason-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        .icon-area {
            width: 35%;
        }

        .text-area {
            width: 55%;

            h3.reason-subtitle {
                font-size: 1.5rem;
                margin-bottom: 20px;
                display: flex;
                justify-content: center;
            }
        }
    }
}

// 流れるオレンジの文字
.infinite-marquee {
    width: 100%;
    overflow: hidden;
    padding: 40px 0;
    background: transparent;

    .marquee-track {
        display: flex;
        white-space: nowrap;
        animation: marquee 20s linear infinite;
    }

    span {
        font-size: 300px;
        font-weight: 600;
        color: rgba(233, 124, 39, 0.2); 
        display: inline-block;
        padding-right: 50px; 
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}


// sp
@media (max-width: $sp) {
    #reason {
        .reason-item {
            flex-direction: column;

            .icon-area {
                width: 50%;
            }

            .text-area {
                width: 100%;

                h3.reason-subtitle {
                    font-size: 1.2rem;
                }
            }
        }

        .reverse {
            flex-direction: column-reverse;
        }


        .infinite-marquee {
            span {
                font-size: 120px;
            }
        }
    }

    .infinite-marquee {
        padding: 0;
        margin-bottom: 40px;

        span {
            font-size: 150px;
        }

    }
}