@use "mixin" as *;

#teachers {
    background-color: $sub-color;
    padding: 60px 0;
    margin-top: $section-margin;

    @include sp {
        height: auto;
        padding: 40px 16px;
        margin-top: $section-margin-sp;
    }

    .teachers-area {
        position: relative;

        .teachers-header {
            position: sticky;
            top: 100px;
            text-align: center;
            margin-bottom: 80px;

            @include sp{
                position: static;
                top: 0;
                margin-bottom: 20px;
            }
        }

        .teacher-list-area {
            position: relative;
            width: 100%;
            height: 100vh;
        }
    }
}

.list {
    position: absolute;
    top: 350px;
    left: 0;
    width: 100%;
    height: 350px;
    background: #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    opacity: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    padding: 40px 100px;
    transform: translateY(300px);
    z-index: 10;

    @include sp {
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
        height: 95%;
        border-radius: 16px;
        padding: 8px;
        margin-top: 20px;
    }

    .list-img {
        width: 30%;

        @include sp {
            width: 100%;
        }

        img {
            width: 100%;
            border-radius: 16px;
            object-fit: cover;
        }
    }

    .list-content {
        width: 68%;

        @include sp {
            width: 100%;
        }

        .teacher-name {
            font-size: 1.5rem;
            color: $main-color;
            font-weight: 600;
            margin-bottom: 10px;

            @include sp {
                margin-top: 8px;
            }
        }

        .point {
            font-weight: 600;
            margin-bottom: 16px;
        }

        .comment {
            color: #555;

            @include sp{
                font-size: 0.875rem;
            }
        }
    }
}


.instagram-area {
    text-align: center;
    margin-top: 80px;

    .instagram-area-text {
        font-size: 1.125rem;

        @include sp{
            font-size: 1rem;
        }
    }

    .instagram-post {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 20px;

        @include sp {
            flex-direction: column;
        }

        .post-kakashi,
        .post-iruka {
            width: 320px;
            height: auto;

            .instagram-media {
                width: 100%;
            }
        }

        .post-iruka {
            @include sp {
                margin-top: 20px;
            }
        }
    }
}