@use "mixin" as *;

#teachers {
    background-color: $sub-color;
    padding: 60px 0;
    margin-top: $section-margin;

    @include sp {
        height: auto;
        padding: 40px 16px;
        margin-top: $section-margin-sp;
    }

    .teachers-area {
        position: relative;
            width: 100%;
            height: auto;

            @include sp{
                position: static;
                height: auto;
            }
    
        .teachers-header {
            position: sticky;
            top: 100px;
            text-align: center;

            @include sp{
                position: static;
                top: 0;
            }
        }

        .teacher-list-area {
            position: relative;
            width: 100%;
            height: 85vh;

            @include sp{
                height: 2800px;
                pointer-events: none;
            }    
        }
    }
}

.list {
    position: absolute;
    top: 370px;
    left: 0;
    width: 100%;
    height: 350px;
    background: #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    gap: 40px;
    padding: 40px 100px;
    transform: translateY(300px);
    overflow: hidden;
    z-index: 10;

    @include sp {
        position: absolute;
        top: 0px;
        display: block;
        align-content: space-around;
        gap: 16px;
        width: 100%;
        height: 560px;
        border-radius: 16px;
        padding: 8px;
        margin: 0 auto 20px;
    }

    .list-img {
        display: block;
        width: 30%;
        height: auto;
        object-fit: cover;

        @include sp {
            width: 100%;
            height: 200px;
            margin: 0 auto;
        }

        img {
            width: 100%;
            height: 100%;
            border-radius: 16px;
            object-fit: cover;
        }
    }

    .list-content {
        width: 68%;

        @include sp {
            width: 100%;
        }

        .teacher-name {
            font-size: 1.5rem;
            color: $main-color;
            font-weight: bold;
            margin-bottom: 10px;

            @include sp {
                font-size: 1.125rem;
                margin-top: 8px;
            }
        }

        .point {
            font-weight: bold;
            margin-bottom: 16px;
        }

        .comment {
            color: #555;

            @include sp{
                font-size: 0.875rem;
            }
        }
    }
}


.instagram-area {
    text-align: center;
    margin-top: 80px;

    .instagram-area-lead{
        font-size: 1.5rem;
        margin-bottom: 40px;

        @include sp{
            font-size: 1rem;
        }
    }

    .instagram-area-text {
        font-size: 1.125rem;

        @include sp{
            font-size: 0.875rem;
        }
    }

    .instagram-post {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 20px;

        @include sp {
            flex-direction: column;
        }

        .post-kakashi,
        .post-iruka {
            width: 320px;
            height: auto;

            .instagram-media {
                width: 100%;
                pointer-events: auto !important;
            }
        }

        .post-iruka {
            @include sp {
                margin-top: 20px;
            }
        }
    }
}