@charset "UTF-8";
* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Noto Sans JP Bold", "M PLUS 1p Regular";
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "width" 100;
  color: #3c3c3c;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #3c3c3c;
}

li {
  list-style: none;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 2%;
}

.blue {
  color: #4B80AA;
}

.large {
  font-size: 64px;
  color: #4B80AA;
}
@media (max-width: 768px) {
  .large {
    font-size: 32px;
  }
}

.section-header {
  text-align: center;
  margin-bottom: 20px;
}

.section-title {
  font-size: 2.5rem;
  position: relative;
  padding-bottom: 40px;
}
.section-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 32px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 750 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0,1 L325,1 L375,31 L425,1 L750,1' stroke='%234B80AA' stroke-width='2' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.section-title .blue {
  color: #4B80AA;
}
.section-title .large {
  font-size: 64px;
}

.section-title {
  font-size: 2.5rem;
  text-align: center;
}
@media (max-width: 768px) {
  .section-title {
    font-size: 1.75rem;
  }
}

.lead {
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
  margin: 40px 0 80px;
}
@media (max-width: 768px) {
  .lead {
    font-size: 1.25rem;
    margin: 20px;
  }
}

.heading {
  font-size: 1.25rem;
  text-align: center;
}
@media (max-width: 768px) {
  .heading {
    padding-inline: 16px;
  }
}

.sp-br {
  display: none;
}
@media (max-width: 768px) {
  .sp-br {
    display: block;
  }
}

.fadein {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s;
}

header {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  box-sizing: border-box;
}
header h1 {
  margin: 0;
  flex-shrink: 0;
}
header .logo {
  width: 180px;
  height: auto;
  display: block;
}
header nav.flip-nav {
  background: #fff;
  padding: 10px 25px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
}
header nav.flip-nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  gap: 5px;
}
header nav.flip-nav .flip-item {
  position: relative;
  flex-shrink: 0;
  margin-right: 18px;
}
header nav.flip-nav .flip-btn {
  display: inline-block;
  text-decoration: none;
  perspective: 1000px;
}
header nav.flip-nav .flip-label {
  display: inline-block;
  height: 22px;
  line-height: 22px;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
  position: relative;
}
header nav.flip-nav .flip-label .front,
header nav.flip-nav .flip-label .back {
  display: inline-block;
  backface-visibility: hidden;
  font-size: 0.87rem;
  white-space: nowrap;
  padding: 0 6px;
}
header nav.flip-nav .flip-label .front {
  transform: rotateX(0deg);
}
header nav.flip-nav .flip-label .back {
  position: absolute;
  left: 50%;
  top: 50%;
  color: #4B80AA;
  transform: translate(-50%, -50%) rotateX(180deg);
}
header nav.flip-nav .flip-btn:hover .flip-label {
  transform: rotateX(180deg);
}
header nav.flip-nav .insta-link {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  transition: 0.3s;
}
header nav.flip-nav .insta-link:hover {
  opacity: 0.7;
}
header nav.flip-nav .insta-link img {
  width: 30px;
  height: 30px;
  display: block;
}

/*==========================
  ハンバーガー
===========================*/
.hamburger {
  width: 60px;
  height: 60px;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 100;
  position: relative;
  display: none;
  background-color: #4B80AA;
}
.hamburger span {
  display: block;
  position: absolute;
  left: 25%;
  width: 50%;
  height: 2px;
  background-color: white;
  transition: all 0.5s;
}
.hamburger span:nth-child(1) {
  top: 30%;
}
.hamburger span:nth-child(2) {
  top: 50%;
}
.hamburger span:nth-child(3) {
  top: 70%;
}

/* ハンバーガー開閉中 */
header.open .hamburger span:nth-child(1) {
  top: 50%;
  transform: rotate(-315deg);
}
header.open .hamburger span:nth-child(2) {
  opacity: 0;
}
header.open .hamburger span:nth-child(3) {
  top: 50%;
  transform: rotate(315deg);
}

/*==========================
  SPナビ（ハンバーガーで表示）
===========================*/
@media (max-width: 768px) {
  header {
    padding: 10px 20px;
    /* ナビ表示（open時） */
  }
  header .logo {
    width: 120px;
  }
  header .flip-nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    transition: right 0.5s ease;
    border-radius: 0 !important;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header .flip-nav ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 300px;
    text-align: center;
  }
  header .flip-nav .flip-item {
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 20px;
  }
  header .flip-nav .flip-btn {
    display: block !important;
    width: 100%;
    text-align: center;
    position: static !important;
    line-height: 2;
    padding: 0;
  }
  header .flip-nav .flip-btn .flip-label span {
    display: block !important;
    width: 100%;
    text-align: center;
    position: static !important;
    transform: none !important;
    opacity: 1 !important;
  }
  header .flip-nav .flip-btn .flip-label .jp {
    font-size: 20px;
    white-space: nowrap;
  }
  header .flip-nav .flip-btn .flip-label .en {
    display: none !important;
  }
  header.open .flip-nav {
    right: 0;
  }
  header .hamburger {
    display: block;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
  }
}
footer {
  max-width: 1120px;
}
footer .container {
  display: flex;
}
footer a {
  color: black;
}

.mainvisual {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.mainvisual .mv-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  margin-right: -30%;
  padding-inline: 3%;
}
.mainvisual .mv-left .fam-img {
  width: 40%;
  height: auto;
  display: block;
}
.mainvisual .mv-left h2 {
  margin: 40px 0;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  white-space: nowrap;
}
.mainvisual .mv-left .mv-text {
  line-height: 1.8;
  font-size: clamp(1rem, 2vw, 1.2rem);
}
.mainvisual .mv-right {
  width: 80%;
  height: 100%;
  position: relative;
  z-index: 5;
  overflow: hidden;
}
.mainvisual .mv-right ul.image-slider {
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 300px;
  position: relative;
}
.mainvisual .mv-right ul.image-slider li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: slider 25s infinite;
  min-width: 70vw;
}
.mainvisual .mv-right ul.image-slider li:nth-child(1) {
  animation-delay: 0s;
}
.mainvisual .mv-right ul.image-slider li:nth-child(2) {
  animation-delay: 5s;
}
.mainvisual .mv-right ul.image-slider li:nth-child(3) {
  animation-delay: 10s;
}
.mainvisual .mv-right ul.image-slider li:nth-child(4) {
  animation-delay: 15s;
}
.mainvisual .mv-right ul.image-slider li:nth-child(5) {
  animation-delay: 20s;
}
.mainvisual .mv-right ul.image-slider li img {
  min-width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
.mainvisual .mv-right .sit-img {
  max-width: 120px;
  position: absolute;
  bottom: 5%;
  right: 5%;
  z-index: 10;
}

@keyframes slider {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  28% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@media (max-width: 768px) {
  .mainvisual {
    height: auto;
    padding: 15% 3%;
  }
  .mainvisual .mv-left {
    margin: 80px 0 0 0;
    width: 100%;
    align-items: stretch;
    padding-inline: 0;
  }
  .mainvisual .mv-left .fam-img {
    max-width: 20%;
    margin-left: 10%;
  }
  .mainvisual .mv-left h2 {
    font-size: 1.2rem;
    margin: 20px 0;
    white-space: normal;
    line-height: 1.4;
  }
  .mainvisual .mv-left .mv-text {
    font-size: 0.9rem;
    line-height: 1.6;
    margin-left: 10%;
  }
  .mainvisual .mv-right {
    position: absolute;
    top: 0;
    right: 0;
  }
  .mainvisual .mv-right ul.image-slider li img {
    object-fit: cover;
  }
  .mainvisual .mv-right .sit-img {
    max-width: 10%;
    bottom: 40%;
  }
}
#about {
  position: relative;
  background-image: url(../img/about-bg.png);
  background-size: cover;
  padding: 800px 0;
  width: 100%;
  margin-top: -30%;
}
#about .content-wrapper .speech-bubbles {
  max-width: 1200px;
}
#about .content-wrapper .speech-bubbles li.bubble {
  font-family: "M PLUS 1p", sans-serif;
  font-size: 1.1rem;
  position: absolute;
  font-weight: 900;
  background-color: white;
  padding: 80px;
  border-radius: 50%;
  width: fit-content;
  box-shadow: 30px 0px 0px 0px rgba(239, 239, 239, 0.62);
}
#about .content-wrapper .speech-bubbles .bubble-1 {
  top: 40%;
  left: 20%;
}
#about .content-wrapper .speech-bubbles .bubble-2 {
  top: 30%;
  right: 20%;
}
#about .content-wrapper .speech-bubbles .bubble-3 {
  top: 58%;
  left: 10%;
}
#about .content-wrapper .speech-bubbles .bubble-4 {
  top: 50%;
  right: 15%;
}
#about .illustration-area {
  position: absolute;
  width: 35%;
  right: 5%;
  bottom: 10%;
  z-index: 2;
}
#about .illustration-area .central-illustration {
  width: 100%;
  height: auto;
  display: block;
}
#about .solution-text {
  position: absolute;
  bottom: 20%;
  left: 40%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: white;
  z-index: 5;
  white-space: nowrap;
}
#about .solution-text .service-name {
  font-size: 3rem;
}
#about .solution-text .solution-icon {
  width: 30px;
  margin-bottom: 25px;
}

.section-intro {
  max-width: 950px;
  margin: 100px auto 160px;
  padding: 40px 20px;
  text-align: center;
  background-color: #E3ECF8;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.section-intro h2 {
  font-size: 1.8rem;
  line-height: 1.4;
  margin-bottom: 80px;
  position: relative;
}
.section-intro h2::after {
  position: absolute;
  content: "";
  background-color: #4B80AA;
  width: 80px;
  height: 5px;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.section-intro p {
  font-size: 1.1rem;
  line-height: 1.8;
  font-weight: 600;
}

@media (max-width: 768px) {
  #about {
    background-position: center;
    padding: 600px 0;
    margin-top: -70%;
  }
  #about .content-wrapper .speech-bubbles li.bubble {
    font-size: 0.875rem;
    padding: 40px;
  }
  #about .content-wrapper .speech-bubbles .bubble-3 {
    top: 60%;
  }
  #about .illustration-area {
    width: 45%;
  }
  #about .solution-text {
    bottom: 15%;
    left: 5%;
    font-size: 1.5rem;
  }
  #about .solution-text .service-name {
    font-size: 2.5rem;
  }
  #about .solution-text .solution-icon {
    width: 20px;
  }
}
#reason .reason-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#reason .reason-item .icon-area {
  width: 30%;
}
#reason .reason-item .text-area {
  width: 65%;
  padding: 20px;
}
#reason .reason-item .text-area h3.reason-subtitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.infinite-marquee {
  width: 100%;
  overflow: hidden;
  padding: 40px 0;
  background: transparent;
}
.infinite-marquee .marquee-track {
  display: flex;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}
.infinite-marquee span {
  font-size: 300px;
  font-weight: 600;
  color: rgba(233, 124, 39, 0.2);
  display: inline-block;
  padding-right: 50px;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@media (max-width: 768px) {
  .infinite-marquee span {
    font-size: 120px;
  }
}
.card-stack-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 100px auto 200px;
  perspective: 1500px;
}

.info-card {
  width: 260px;
  height: 400px;
  background-color: #E3ECF8;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transform-origin: 50% 100%;
  transition: transform 0.1s ease-out, box-shadow 0.1s ease-out, z-index 0.4s, opacity 1.2s ease-out;
  margin-left: -50px;
  opacity: 0;
  transform: translateX(100px) rotate(0deg);
}
.info-card:first-child {
  margin-left: 0;
}
.info-card[data-card-id="1"] {
  z-index: 1;
}
.info-card[data-card-id="2"] {
  z-index: 2;
}
.info-card[data-card-id="3"] {
  z-index: 3;
}
.info-card[data-card-id="4"] {
  z-index: 4;
}

.card-stack-container.is-active .info-card {
  transition: transform 1s ease-out, box-shadow 0.1s ease-out, z-index 0.4s, opacity 1s ease-out;
  transition-delay: 0.1s !important;
  opacity: 1;
}
.card-stack-container.is-active .info-card[data-card-id="1"] {
  transform: rotate(-13deg) translateY(10px) translateZ(50px);
  transition-delay: 0.1s;
}
.card-stack-container.is-active .info-card[data-card-id="2"] {
  transform: rotate(-5deg) translateY(0px) translateZ(30px);
  transition-delay: 0.3s;
}
.card-stack-container.is-active .info-card[data-card-id="3"] {
  transform: rotate(5deg) translateY(20px) translateZ(10px);
  transition-delay: 0.5s;
}
.card-stack-container.is-active .info-card[data-card-id="4"] {
  transform: rotate(15deg) translateY(70px) translateZ(0px);
  transition-delay: 0.7s;
}

.info-card:hover {
  transition: transform 0.3s ease-out !important;
  box-shadow: 0.3s ease-out !important;
  z-index: 0.3s !important;
  opacity: 0.3s ease-out !important;
  transform: scale(1.05) translateY(-20px) translateZ(100px) rotate(0deg) !important;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.card-image-wrapper {
  overflow: hidden;
  height: 60%;
  border-radius: 12px 12px 0 0;
}
.card-image-wrapper .card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-text-content {
  padding: 15px;
  text-align: left;
}
.card-text-content .card-number {
  font-size: 2rem;
  font-weight: bold;
  color: #4B80AA;
}
.card-text-content .card-title-text {
  font-size: 1.1rem;
  margin-top: 5px;
}

#card-detail-section {
  background-color: #E3ECF8;
  border-radius: 12px;
  padding: 30px;
  margin: 40px auto;
  width: min(90%, 900px);
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 0.4s ease-out, opacity 0.4s ease-out;
}
#card-detail-section.is-open {
  height: auto;
  opacity: 1;
  min-height: 200px;
}
#card-detail-section .detail-content {
  text-align: left;
}
#card-detail-section .detail-content h3 {
  color: #4B80AA;
  margin-bottom: 10px;
}

.card-stack-container {
  flex-direction: column;
  align-items: center;
  width: 100%;
  perspective: none;
  margin: 50px auto 100px;
}

.info-card {
  transform: none !important;
  margin-left: 0 !important;
  margin-top: 25px;
  width: 70%;
  height: 200px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: none !important;
}
.info-card .card-image-wrapper {
  flex-shrink: 0;
  width: 40%;
  height: auto;
  margin-right: 15px;
  border-radius: 0;
}
.info-card .card-image-wrapper .card-img {
  width: 100%;
  height: auto;
  max-height: 120px;
}
.info-card .card-text-content {
  padding: 0;
  width: 50%;
  text-align: center;
}
.info-card .card-text-content .card-number {
  font-size: 1.8rem;
}
.info-card .card-text-content .card-title-text {
  font-size: 1.1rem;
}

#card-detail-section {
  position: fixed;
  top: 50%;
  right: 0;
  width: 50%;
  height: 60vh;
  max-width: none !important;
  z-index: 1000;
  background-color: #fff;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
  padding: 60px 20px 20px;
  margin: 0;
}
#card-detail-section.is-open {
  transform: translateX(0);
  opacity: 1;
  height: 50vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#card-detail-section .detail-content h3 {
  color: #4B80AA;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
#card-detail-section .detail-content p {
  font-size: 1rem;
}
#card-detail-section .close-button {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
}

.card-stack-container.is-active .info-card,
.info-card:hover {
  transform: none !important;
  opacity: 1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: none !important;
}

#achievements {
  text-align: center;
  margin-top: 100px;
}
#achievements .book-area {
  position: relative;
  max-width: 800px;
  width: 100%;
  height: 560px;
  margin: 0 auto 60px;
}

.book-item {
  position: relative;
  max-width: 800px;
  width: 100%;
  height: 560px;
  perspective: 2000px;
  transform-style: preserve-3d;
  margin: 0 auto;
}
.book-item .student-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #E3ECF8;
  border: 3px solid #4B80AA;
  border-radius: 0 16px 16px 0;
  padding: 40px;
  text-align: center;
  transition: transform 1.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 1.4s ease;
  transform-origin: left center;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  opacity: 1;
  cursor: pointer;
}
.book-item .student-page:hover {
  transform: rotateY(-10deg) skewY(3deg);
  box-shadow: -6px 0 15px rgba(0, 0, 0, 0.1);
}
.book-item .student-page.flip {
  transform: rotateY(-180deg) skewY(12deg);
  box-shadow: -6px 0 15px rgba(0, 0, 0, 0.15); /* 弱め影 */
}
.book-item .student-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  opacity: 0;
  transition: opacity 0.6s ease;
  pointer-events: none;
}
.book-item .student-page .heading-strong {
  color: #E97C27;
}
.book-item .student-page .page-item {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  gap: 40px;
  margin-top: 20px;
}
.book-item .student-page .page-item .page-item-student,
.book-item .student-page .page-item .page-item-achievement {
  width: 48%;
}
.book-item .student-page .page-item .page-item-student img {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
}
.book-item .student-page .page-item .page-item-student .student-name {
  font-weight: bold;
  margin-top: 8px;
}
.book-item .student-page .page-item .page-item-student .student-comment {
  margin-top: 16px;
  text-align: left;
}
.book-item .student-page .page-item .page-item-achievement .achievement-img img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 200px;
  object-fit: cover;
  filter: drop-shadow(6px 6px 20px rgba(0, 0, 0, 0.15));
}
.book-item .student-page .page-item .page-item-achievement .achievement-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}
.book-item .student-page .page-item .page-item-achievement .achievement-link .link-text {
  display: block;
  color: #4B80AA;
}
.book-item .student-page .page-item .page-item-achievement .achievement-link .link-icon {
  width: 20px;
  height: 20px;
}

.student-page.flip {
  transform: rotateY(-180deg) skewY(10deg); /* ← skewはお好みで調整可 */
  opacity: 0;
}

.link-btn-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 40px;
  border-radius: 16px;
  background: #4B80AA;
  color: #fff;
  gap: 16px;
  margin: 20px auto 0;
}
.link-btn-blue img {
  width: 40px;
  height: 100%;
  object-fit: contain;
}

#teachers {
  background-color: #E3ECF8;
  padding: 60px 0;
  margin-top: 100px;
}
@media (max-width: 768px) {
  #teachers {
    height: auto;
    padding: 40px 16px;
    margin-top: 50px;
  }
}
#teachers .teachers-area {
  position: relative;
}
#teachers .teachers-area .teachers-header {
  position: sticky;
  top: 100px;
  text-align: center;
  margin-bottom: 80px;
}
@media (max-width: 768px) {
  #teachers .teachers-area .teachers-header {
    position: static;
    top: 0;
    margin-bottom: 20px;
  }
}
#teachers .teachers-area .teacher-list-area {
  position: relative;
  width: 100%;
  height: 100vh;
}

.list {
  position: absolute;
  top: 350px;
  left: 0;
  width: 100%;
  height: 350px;
  background: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  opacity: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  padding: 40px 100px;
  transform: translateY(300px);
  z-index: 10;
}
@media (max-width: 768px) {
  .list {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    height: 95%;
    border-radius: 16px;
    padding: 8px;
    margin-top: 20px;
  }
}
.list .list-img {
  width: 30%;
}
@media (max-width: 768px) {
  .list .list-img {
    width: 100%;
  }
}
.list .list-img img {
  width: 100%;
  border-radius: 16px;
  object-fit: cover;
}
.list .list-content {
  width: 68%;
}
@media (max-width: 768px) {
  .list .list-content {
    width: 100%;
  }
}
.list .list-content .teacher-name {
  font-size: 1.5rem;
  color: #4B80AA;
  font-weight: 600;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .list .list-content .teacher-name {
    margin-top: 8px;
  }
}
.list .list-content .point {
  font-weight: 600;
  margin-bottom: 16px;
}
.list .list-content .comment {
  color: #555;
}
@media (max-width: 768px) {
  .list .list-content .comment {
    font-size: 0.875rem;
  }
}

.instagram-area {
  text-align: center;
  margin-top: 80px;
}
.instagram-area .instagram-area-text {
  font-size: 1.125rem;
}
@media (max-width: 768px) {
  .instagram-area .instagram-area-text {
    font-size: 1rem;
  }
}
.instagram-area .instagram-post {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .instagram-area .instagram-post {
    flex-direction: column;
  }
}
.instagram-area .instagram-post .post-kakashi,
.instagram-area .instagram-post .post-iruka {
  width: 320px;
  height: auto;
}
.instagram-area .instagram-post .post-kakashi .instagram-media,
.instagram-area .instagram-post .post-iruka .instagram-media {
  width: 100%;
}
@media (max-width: 768px) {
  .instagram-area .instagram-post .post-iruka {
    margin-top: 20px;
  }
}

#metaleaf {
  text-align: center;
  margin-top: 100px;
}
@media (max-width: 768px) {
  #metaleaf {
    margin-top: 50px;
  }
}
#metaleaf .metaleaf_area {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}
@media (max-width: 768px) {
  #metaleaf .metaleaf_area {
    height: 100vh;
  }
}
#metaleaf .metaleaf_area .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  z-index: 1;
}
#metaleaf .metaleaf_area .feature {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 5px solid #E97C27;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  z-index: 2;
  cursor: pointer;
  transition: 0.6s;
}
#metaleaf .metaleaf_area .feature:hover {
  transform: scale(1.2);
}
@media (max-width: 768px) {
  #metaleaf .metaleaf_area .feature {
    width: 100px;
    height: 100px;
    border: 2px solid #E97C27;
  }
}
#metaleaf .metaleaf_area .feature .icon {
  width: 56px;
  height: 56px;
  margin: 16px auto 0;
}
@media (max-width: 768px) {
  #metaleaf .metaleaf_area .feature .icon {
    margin: 8px auto 0;
  }
}
#metaleaf .metaleaf_area .feature .icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#metaleaf .metaleaf_area .feature p {
  font-size: 0.625rem;
  text-align: center;
}
#metaleaf .metaleaf_area .f1 {
  top: 40%;
  left: 48%;
}
@media (max-width: 768px) {
  #metaleaf .metaleaf_area .f1 {
    left: 35%;
  }
}
#metaleaf .metaleaf_area .f2 {
  bottom: 30%;
  right: 20%;
}
@media (max-width: 768px) {
  #metaleaf .metaleaf_area .f2 {
    right: 5%;
  }
}
#metaleaf .metaleaf_area .f3 {
  top: 25%;
  left: 25%;
}
@media (max-width: 768px) {
  #metaleaf .metaleaf_area .f3 {
    left: 10%;
  }
}
#metaleaf .metaleaf_area .f4 {
  top: 12%;
  right: 25%;
}
@media (max-width: 768px) {
  #metaleaf .metaleaf_area .f4 {
    right: 10%;
  }
}
#metaleaf .metaleaf_area .f5 {
  bottom: 15%;
  left: 15%;
}
@media (max-width: 768px) {
  #metaleaf .metaleaf_area .f5 {
    left: 5%;
  }
}

/* モーダル */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  transition: 0.6s;
  z-index: 99;
}

.modal.open {
  display: flex;
}

.modal-content {
  position: relative;
  background: #fff;
  padding: 20px;
  width: 480px;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .modal-content {
    width: 320px;
  }
}
.modal-content .close {
  position: absolute;
  top: 4px;
  right: 20px;
  font-size: 2rem;
  line-height: 1;
  cursor: pointer;
  transition: 0.6s;
}
.modal-content .close:hover {
  transform: scale(1.2);
}
.modal-content .modal_img {
  width: 100%;
  height: 50%;
  border-radius: 10px;
  object-fit: contain;
  margin-top: 16px;
}
.modal-content .modal_text {
  margin: 8px 0;
}
.modal-content .modal_text .modal_title {
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
}

#cta1, #cta2 {
  padding: 40px 0;
  margin-top: 100px;
  text-align: center;
}
#cta1 p, #cta2 p {
  font-size: 1.125rem;
  margin-bottom: 40px;
}

.container .swiper {
  width: 100%;
  height: 60vh;
}
.container .swiper .circle-wrap {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 30px;
  position: relative;
  text-align: center;
  vertical-align: top;
  padding-bottom: 50px;
}
.container .swiper .circle-wrap img {
  width: 250px;
  height: 250px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  transform: translateY(-25px);
}
.container .swiper .circle-wrap .step-title {
  position: absolute;
  top: 255px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  color: white;
}
.container .swiper .circle-wrap .step-sub {
  position: absolute;
  top: 275px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  color: black;
}
.container .swiper .circle-wrap .step-title,
.container .swiper .circle-wrap .step-sub {
  font-weight: bolder;
  white-space: nowrap;
}
.container .swiper .blue {
  background: #4B80AA;
}
.container .swiper .orange {
  background: #E97C27;
}
.container .swiper .step-text {
  width: 320px;
  margin-top: 20px;
  text-align: left;
  line-height: 1.7;
}
.container .price {
  background-color: #4B80AA;
  text-align: center;
  color: white;
}/*# sourceMappingURL=style.css.map */