@use "common" as *;
@use "mixin" as *;
@use "header" as *;
@use "footer" as*;

//セクション
@use "mainvisual" as *;
@use "about" as *;
@use "reason" as *;
@use "strengths" as *;
@use "achievements" as *;
@use "teachers" as *;
@use "metaleaf" as *;
@use "cta" as *;
@use "curriculum" as*;
@use "question" as*;